@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #2C2C2C;
  --text: #FEF9F3;
  --accent: #DE9151;
}



body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  border: 1px solid var(--accent);
}

@layer base {
  nav ul a {
    @apply px-2 mx-1;
  }
}